---
layout: home
author_profile: true
#header:
#  overlay_color: "#000"
#  overlay_filter: "0.4"
#  overlay_image: "https://res.cloudinary.com/dwfkishzf/image/upload/v1676639894/Prajwal%20Profile%20Images/ezgif.com-video-to-gif_ona1cr.gif" 
#  actions:
#    - label: "Add me on Linkedin"
#      url: "https://www.linkedin.com/in/shettyprajwal/"
#excerpt: "GAMES AND BEYOND!"
feature_row:
  - image_path: https://res.cloudinary.com/dwfkishzf/image/upload/c_scale,w_314/v1676878048/Blogsite1/unity/deployingtocloud/image_0_ggiwyx.png
    alt: "Working with unity"
    title: "Deploying Unity Builds To Playfab"
    url: "/Unity/Deploying-Unity-Game-Server-Into-Playfab-Cloud"
    btn_label: "Read More"
    excerpt: "With Azure PlayFab, game developers can leverage cloud-based infrastructure and services to scale their games and provide an optimal experience for players."
  - image_path: https://res.cloudinary.com/dwfkishzf/image/upload/c_scale,w_314,h_240/v1683140916/Traffic%20Tales/FvOcMeUWIAA8sSu_pnfhyh.png
    alt: "Working with unreal"
    title: "Runtime Mesh Generation in Unreal Engine 5"
    url: "/ue5/Generating-Runtime-Mesh-In-Unreal-Engine"
    btn_label: "Read More"
    excerpt: "Generating Runtime Mesh In Unreal Engine 5 using C++, generating the mesh buffers, subdividing the mesh into chunks, creating their LODs and collision."
  - image_path: https://res.cloudinary.com/dwfkishzf/image/upload/c_crop,q_80,w_314,h_240/v1724631627/Blogsite1/Unreal/5075c831-ad9a-4610-9213-e9bf88250279.webp
    alt: "Working with unreal"
    title: "Compilation of the best Unreal Engine C++ resources"
    url: "/ue5/Useful-Unreal-Links"
    btn_label: "Read More"
    excerpt: "Essential Unreal Engine resources for developers—curated from my journey tackling C++ quirks, multiplayer setup, performance hacks, and more. "
gallery:

  - url: https://res.cloudinary.com/dwfkishzf/image/upload/v1732315976/Prajwal%20Profile%20Images/Assets/IMG_4156ssa_fp7pdh.jpg
    image_path: https://res.cloudinary.com/dwfkishzf/image/upload/v1732315976/Prajwal%20Profile%20Images/Assets/IMG_4156ssa_fp7pdh.jpg
    alt: "placeholder image 3"
    #title: "Image 3 title caption"
#  - url: https://res.cloudinary.com/dwfkishzf/image/upload/q_60/v1732315973/Prajwal%20Profile%20Images/Assets/IMG_3402ss_111_zyvqby.webp
#   image_path: https://res.cloudinary.com/dwfkishzf/image/upload/v1732314287/Prajwal%20Profile%20Images/Assets/IMG_9707_cr_a4b5rt.jpg
#   alt: "placeholder image 2"
#   #title: "Image 2 title caption"
  - url: https://res.cloudinary.com/dwfkishzf/image/upload/v1732314077/Prajwal%20Profile%20Images/Assets/IMG_8989_omwq1s.jpg
    image_path: https://res.cloudinary.com/dwfkishzf/image/upload/v1732314077/Prajwal%20Profile%20Images/Assets/IMG_8989_omwq1s.jpg
    alt: "placeholder image 3"
    #title: "Image 3 title caption"
  - url: https://res.cloudinary.com/dwfkishzf/image/upload/q_60/v1732315973/Prajwal%20Profile%20Images/Assets/IMG_3402ss_111_zyvqby.webp
    image_path: https://res.cloudinary.com/dwfkishzf/image/upload/q_60/v1732315973/Prajwal%20Profile%20Images/Assets/IMG_3402ss_111_zyvqby.webp
    alt: "placeholder image 1"
    #title: "Image 1 title caption"

---
{% capture intro-text %}
👋 Hello there! I'm Prajwal Shetty,

6 years of professional software and game development experience in Unity 3D, Blender, and Unreal Engine. Passionate about building games, and virtual worlds. Built and shipped products for iOS, Android, Windows, and macOS using Unity’s ecosystem, and lead a team of 6 developers. Built applications related to architectural visualization, runtime mesh loading, and automated renders in python and C#.

- 🚀 Unity 3D game Development
- 👨‍💻 Procedural Mesh Generation and Optimization
- 🎯 Blender Python API
- ⚡ Blender Addon Development
- 🔥 Unity3D Plugin Development
- 💣 Unreal C++
- 🧠 UnrealEngine 5 Material Graph, Blueprints, Animation Graph
- 🕜 Multiplayer Games using Unreal engine or Mirror/Playfab for Unity
- 🖌️ Runtime Mesh Load and processing with Khronos' GLTF, Pixar's USDZ or OBJs
- 🍾 Unity as a library, with react-native/ionic-angular frameworks.
- 👽 Fishnet, Zenject and Stateless
- 👨‍💻 Draco Mesh compression, KTX, Addressables
- 🪛 gRPC, Rest-APIs, .Net Core
- 🎮 Sony PS5 Devkit and dual sense, Meta Quest Env
- ⚙️ LLM APIs, Claude, OpenAI GPTs  
- 📝 Misc: Jira, Confluence, Git, Rider, Copilot etc

Interested in products related to Game development, Metaverse, AR / VR / XR, Architectural Visualization and Computer Simulation
{% endcapture %}

<!-- {% include gallery layout="third" caption="" %} -->


<!-- Gallery Section -->
<div style="display: flex; justify-content: center; gap: 20px; margin: 20px 0; flex-wrap: wrap;">
  <a href="https://res.cloudinary.com/dwfkishzf/image/upload/v1732315976/Prajwal%20Profile%20Images/Assets/IMG_4156ssa_fp7pdh.jpg" 
     style="flex: 1; max-width: 200px; text-align: center;">
    <img src="https://res.cloudinary.com/dwfkishzf/image/upload/v1732315976/Prajwal%20Profile%20Images/Assets/IMG_4156ssa_fp7pdh.jpg" 
         alt="Gallery Image 1" 
         style="width: 100%; height: auto; border-radius: 10px;">
  </a>
  <a href="https://res.cloudinary.com/dwfkishzf/image/upload/v1732314077/Prajwal%20Profile%20Images/Assets/IMG_8989_omwq1s.jpg" 
     style="flex: 1; max-width: 200px; text-align: center;">
    <img src="https://res.cloudinary.com/dwfkishzf/image/upload/v1732314077/Prajwal%20Profile%20Images/Assets/IMG_8989_omwq1s.jpg" 
         alt="Gallery Image 2" 
         style="width: 100%; height: auto; border-radius: 10px;">
  </a>
  <a href="https://res.cloudinary.com/dwfkishzf/image/upload/q_60/v1732315973/Prajwal%20Profile%20Images/Assets/IMG_3402ss_111_zyvqby.webp" 
     style="flex: 1; max-width: 200px; text-align: center;">
    <img src="https://res.cloudinary.com/dwfkishzf/image/upload/q_60/v1732315973/Prajwal%20Profile%20Images/Assets/IMG_3402ss_111_zyvqby.webp" 
         alt="Gallery Image 3" 
         style="width: 100%; height: auto; border-radius: 10px;">
  </a>
  <a href="https://res.cloudinary.com/dwfkishzf/image/upload/v1732314287/Prajwal%20Profile%20Images/Assets/IMG_9707_cr_a4b5rt.jpg" 
     style="flex: 1; max-width: 200px; text-align: center;">
    <img src="https://res.cloudinary.com/dwfkishzf/image/upload/v1732314287/Prajwal%20Profile%20Images/Assets/IMG_9707_cr_a4b5rt.jpg" 
         alt="Gallery Image 4" 
         style="width: 100%; height: auto; border-radius: 10px;">
  </a>
</div>


<!-- Emoji Section -->
<div style="text-align: center; font-size: 1rem; margin: 20px 0;">
  🌟🌌💻🛸🪂🍺🌍🦕
</div>

{% include feature_row %}

<div class="author__name">
<p> {{ intro-text | markdownify }} </p>
</div>
